* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    font-family: "Roboto", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}